.fb-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(244, 244, 244, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2000;
}

.fb-modal-content {
    width: 100%;
    max-width: 500px;
    border-radius: 8px;
    box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.fb-modal-body textarea:focus {
    box-shadow: none;
}