.lp-login-form-container {
    background-color: #fff;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 24px 32px;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.lp-login-form-container h5 {
    font-size: 18px;
    margin-bottom: 16px;
}

.lp-lgfrm-holder {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    padding: 10px 16px;
    display: flex;
    align-items: center;
}

.lp-lgfrm-holder input {
    outline: none;
    font-size: 12px;
    border: none;
    margin-left: 10px;
    background: none;
    width: 100%;
}

.lp-lgfrm-holder svg {
    color: var(--icon-grey);
}

.lp-lgfrm-frgp {
    text-align: end;
    width: 100%;
    margin-bottom: 10px;
}

.lp-lgfrm-frgp span {
    color: var(--primary-color);
    font-size: 12px;
    cursor: pointer;
}

.lp-lgfrm-submit-btn {
    background-color: var(--primary-color);
    padding: 10px 0px;
    width: 100%;
    border: none;
    font-size: 14px;
    color: white;
    margin-top: 14px;
    margin-bottom: 14px;
    border-radius: 2px;
}

.lp-have-lgfrm-text {
    font-size: 12px;
    text-align: center;
    width: 100%;
}