.lp-form-container {
    background-color: #fff;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 24px 32px;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.lp-form-container h5 {
    margin-bottom: 16px;
    font-size: 18px;
}

.lp-form-holder {
    height: 40px;
    margin-bottom: 10px;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    padding: 10px 16px;
    display: flex;
    align-items: center;
    width: 100%;
}

.lp-form-holder input {
    outline: none;
    font-size: 12px;
    border: none;
    margin-left: 10px;
    background: none;
    width: 100%;
}

.lp-form-holder svg {
    color: var(--icon-grey);
}

.terms-cbox {
    gap: 8px;
    margin-bottom: 10px;
}

.terms-cbox p {
    font-size: 10px;
    margin: 0;
}

.lp-submit-btn {
    background-color: var(--primary-color);
    padding: 10px 0px;
    width: 100%;
    border: none;
    font-size: 14px;
    color: white;
    margin-top: 14px;
    margin-bottom: 14px;
    border-radius: 2px;
}

.lp-have-act-text {
    font-size: 12px;
    text-align: center;
    width: 100%;
}